# Build and Release Folders
target/
Cargo.lock
small_genome_dir/
.pytest_cache
__pycache__
tmp_output/
tmp_testing_query/
*.ipynb_checkpoints*
# mac specific files
.DS_Store

# jetbrains IDE specific files
.idea
